.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f7f7;
}

textarea {
  width: 300%;
  height: 200px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #ccc;
  font-family: Arial, sans-serif;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.radio-group label {
  margin-bottom: 10px;
}

.radio-group input[type="radio"] {
  margin-right: 5px;
}

.radio-group input[type="radio"]:checked+label {
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;

}

.form h2 {
  margin: 0;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.form-control {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
}

.form-control label {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.form-control textarea {
  height: 10rem;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  resize: none;
  font-size: 1.2rem;
  font-family: inherit;
}

button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #008080;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #006666;
}

.response {
  margin-top: 2rem;
}

.response h2 {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.input-container label {
  margin-bottom: 0.5rem;
}

.response textarea {
  height: 10rem;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  resize: none;
  font-size: 1.2rem;
  font-family: inherit;
}

.loading-spinner {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}